.logo__img {
  float: left;
  height: 60px;
  filter: brightness(0) invert(1);
}

.logo__data {
  font-weight: normal;
  letter-spacing: 1px;
  float: left;
  white-space: nowrap;
  margin-left: 16px;
}

.logo__title {
  height: 30px;
  line-height: 35px;
  font-size: 22px;
}

.logo__subtitle {
  color: #89c6ff;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}