.collapsible-item {
  color: black;
  padding: 10px 20px;
  clear: left;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 18px;
}

.collapsible-item_expanded {
  background: #f4f9ff;
}

.collapsible-item__data {
  margin-right: 212px;
}

.collapsible-item__title {
  margin: 10px;
  color: rgb(59, 66, 86);
}

.collapsible-item__description {
  display: none;
  padding: 10px 10px 10px 30px;
}

.collapsible-item__description_showed {
  display: block;
}

.collapsible-item__trigger {
  float: right;
  padding: 10px;
  width: 160px;
  background-color: #f4f9ff;
  border: 1px solid #f4f9ff;
  border-radius: 4px;
  text-align: center;
  color: rgb(59, 66, 86);
  font-size: 17px;
  font-family: Helvetica;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.collapsible-item__trigger:focus {
  outline: none;
}

.collapsible-item__trigger_active {
  border: 1px solid rgb(14, 174, 30);
  background-color: rgb(14, 174, 30);
  color: white;
}

.collapsible-item__trigger_disabled {
  opacity: 0.6;
  cursor: default;
}